* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #000; */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #6b6969;
}
.calculator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 20px 40px;
  width: 400px;
  height: 700px;
  background-color: #524e3d;
  border-radius: 5px;
  box-shadow: 0px 20px 3px 7px rgba(0, 0, 0, 0.1);
}
.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #c8c9bc;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  background: #242f35;
  color: white;
  font-size: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.display {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 300px;
  height: 100px;
  background-color: #fff;
  /* border-radius: 5px; */
  padding: 10px;
  /* margin-bottom: 20px; */
  font-size: 2.5rem;
}

.display p {
  /* border: 1px solid; */
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: end;
}
.keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-self: flex-end; */
  background: #242f35;
  gap: 10px;
  height: 400px;
  width: 300px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.roll {
  display: flex;
  width: 90%;
  justify-content: space-between;
  gap: 5px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  /* background-color: #009688; */
  font-size: 20px;
  color: white;
  /* border: none; */
  border-radius: 5px;
  cursor: pointer;
}
.blue {
  background-color: #009688;
  color: white;
}
.white {
  background-color: #d0cec1;
  color: #000;
}
.orange {
  background-color: #d48a34;
  color: #000;
}
footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #90a4ae;
  gap: 15px;
  /* font-size: 18px; */
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #fff;
}
